:root {
    --font-family: 'Nunito',
        sans-serif;
    --secondary-color: #E5E5E5;
    --primary-color: #31D2F2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: var(--font-family);
}

h1 {
    font-weight: bold;
    font-size: 54px;
    line-height: 2;
}

h2 {
    font-weight: bold;
    text-align: center;
}

p {
    line-height: 2;
}


.hero {
    background: var(--secondary-color);
    text-align: center;
    padding: 250px 20px;
}

.goli-photo {
    width: 500px;
    border-radius: 500px;
}

.about-section {
    margin: 100px 20px;
    text-align: center;
}

.about-me {
    margin-top: 80px;
    font-size: 24px;
}

.skills-section {
    background: var(--secondary-color);
    padding: 50px 20px;
}

.button {
    background: var(--primary-color);
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 50px;
}

.button:hover {
    background: white;
    color: var(--primary-color);
    border: 2px solid #31D2F2;
}

.coding-projects {
    margin-top: 200px;
}

.title {
    background: var(--secondary-color);
    padding: 50px 20px;
}

.photo-skills {
    width: 500px;
    border-radius: 10px;
}

.content-skills {
    margin-top: 200px;
    text-align: center;
}

@media (max-width:900px) {
    .hero {
        padding: 60px;
    }

    h1 {
        line-height: 1.5;
        font-size: 32px;
    }

    .about-section {
        padding: 1px;
    }

    .about-me {
        font-size: 18px;
    }

    .button {
        margin-bottom: 50px;
    }

    .coding-projects {
        margin-top: 0;
    }

    .photo-skills {
        width: 300px;
        margin: 0 auto;
        display: block;
    }

    .content-skills {
        margin-top: 20px;
    }
}