:root {
    --font-family: 'Nunito',
        sans-serif;
    --secondary-color: #E5E5E5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: var(--font-family);
}

h1 {
    font-weight: bold;
    font-size: 54px;
    line-height: 2;
}

h2 {
    font-weight: bold;
}

p {
    line-height: 2;
}


.hero {
    background: var(--secondary-color);
    text-align: center;
    padding: 250px 20px;
}

.goli-photo {
    width: 500px;
    border-radius: 500px;
}

.about-me {
    margin-top: 80px;
    font-size: 24px;
}